Repository OpenRail-Playground/PopupSim: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: system
        pass_filenames: false
        files: (^|/)pyproject.toml$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        exclude: .parquet$

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        exclude: '^(.*parquet|tests\/fixtures\/.*)$'

      - id: reorder-python-imports
        name: reorder-python-imports
        entry: reorder-python-imports
        language: python
        files: '\.py$'
        args: ['--application-directories', 'src:tests']

      - id: black
        name: black
        entry: black
        language: python
        files: '\.py$'

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        files: '\.py$'
        exclude: '^tests\/|experiments\/'

      - id: pylint
        name: pylint
        entry: env PYTHONPATH='src/blp/:tests/blp/' pylint
        language: system
        require_serial: true
        types: [python]
        pass_filenames: false
        files: '\.py$'
        args:
          [
            'src', 'tests',
            '-rn', # Only display messages
            '-sn', # Don't display the score
          ]
        verbose: true

      - id: pyre
        name: pyre
        entry: pyre check
        pass_filenames: false
        language: python

      - id: unit-test-run
        name: unit-test-run
        entry: coverage run -m unittest -k blp
        pass_filenames: false
        language: system

Removed pycache
  .gitignore
  src/simulator/__pycache__/__init__.cpython-310.pyc
  src/simulator/components/__pycache__/__init__.cpython-310.pyc
  src/simulator/components/__pycache__/locomotive.cpython-310.pyc
  src/simulator/components/__pycache__/track_collection.cpython-310.pyc
  src/simulator/components/__pycache__/wagon.cpython-310.pyc
Due: trailing-whitespace-fixer, end-of-file-fixer

Made stuff configurable
  .pyre/pyre.stderr
  src/simulator/components/locomotive.py
  src/simulator/components/track_collection.py
  src/simulator/config.py
  src/simulator/global_setting.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

Removed notebooks
  notebooks/test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

Added fastapi app for simulator
  poetry.lock
  pyproject.toml
  src/simulator/config.py
  src/simulator/global_setting.py
  src/simulator/main.py
  src/simulator/run_simulation.py
Due: poetry-check, trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

Initial commit
  CONTRIBUTING.md
  LICENSE
  MAINTAINERS.md
  README.md
  img/3LH.png
Due: trailing-whitespace-fixer, end-of-file-fixer

added proposal json file
  frontend.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

added proposal json file
  model_proposal.json
Due: trailing-whitespace-fixer, end-of-file-fixer

text commit
  test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

renamed a few things, added comments
  model_proposal.json
Due: trailing-whitespace-fixer, end-of-file-fixer

fixed typos, renamed words
  model_proposal.json
Due: trailing-whitespace-fixer, end-of-file-fixer

Add examples for configuration and topology models
  configuration.yaml
  topology.yaml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add parking to configuration
  configuration.yaml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add structure to repository
  src/control-center/.gitkeep
  src/shared/.gitkeep
  src/simulator/.gitkeep
  src/visualizer/.gitkeep
Due: trailing-whitespace-fixer, end-of-file-fixer

Move models to shared folder
  src/shared/configuration.yaml
  src/shared/topology.yaml
Due: trailing-whitespace-fixer, end-of-file-fixer

implemented sample simulation
  .gitignore
  notebooks/test.py
  poetry.lock
  pyproject.toml
Due: poetry-check, trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

updated model proposal
  .idea/modules.xml
Due: trailing-whitespace-fixer, end-of-file-fixer

updated json proposal
  visualiser/model_proposal.json
Due: trailing-whitespace-fixer, end-of-file-fixer

checkpoint
  notebooks/test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

added global logging
  notebooks/test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

Cleanup of template
  src/control-center/.dockerignore
  src/control-center/.env
  src/control-center/.env.local.template
  src/control-center/.env.production
  src/control-center/.gitlab-ci.yml
  src/control-center/.gitleaks.toml
  src/control-center/.npmrc
  src/control-center/Dockerfile
  src/control-center/LICENSE
  src/control-center/README.md
  src/control-center/docs/adr/2022-02-11_vue-design-decisions.md
  src/control-center/docs/adr/2022-02-21_auth-library.md
  src/control-center/docs/adr/2022-02-28_i18n.md
  src/control-center/docs/adr/2022-03-03_open-source-licenses.md
  src/control-center/docs/adr/2023-06-15_end-to-end-testing.md
  src/control-center/docs/adr/2023-10-20_confidential-client-auth.md
  src/control-center/docs/architecture.drawio.svg
  src/control-center/docs/auth.md
  src/control-center/env.d.ts
  src/control-center/index.html
  src/control-center/lighthouserc.cjs
  src/control-center/package-lock.json
  src/control-center/package.json
  src/control-center/pipeship/values.yaml
  src/control-center/renovate.json5
  src/control-center/src/views/HomeView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

added basic vue visualiserview
  src/control-center/sample_simulation_output.json
  src/control-center/src/router/index.ts
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

added wagons
  notebooks/test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

visualiser can draw a line now
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

fixed json loading
  src/control-center/src/utils/fetch.ts
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

Even more cleanup
  src/control-center/src/App.vue
  src/control-center/src/components/TheHeader.vue
  src/control-center/src/router/index.ts
  src/control-center/src/stores/__tests__/auth.spec.ts
  src/control-center/src/stores/auth.ts
Due: trailing-whitespace-fixer, end-of-file-fixer

Add track configuration and parse topology
  src/control-center/package.json
  src/control-center/src/assets/topology.yaml
  src/control-center/src/components/TrackConfiguration.vue
  src/control-center/src/stores/topology.ts
  src/control-center/src/views/HomeView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

Convert configuration to json because that will be exchanged later between configurator and simulator
  src/shared/configuration.json
  src/shared/configuration.yaml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add package-lock to gitignore to reduce conflicts
  src/control-center/.gitignore
Due: trailing-whitespace-fixer, end-of-file-fixer

loading svg in canvas works now
  src/control-center/src/assets/rail_icons/edited.ai
  src/control-center/src/assets/rail_icons/edited.png
  src/control-center/src/assets/rail_icons/edited.svg
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

Rename coupling to increase consistency
  src/shared/configuration.json
Due: trailing-whitespace-fixer, end-of-file-fixer

positioning of loc works now based on value in json
  src/control-center/sample_simulation_output.json
  src/control-center/src/assets/rail_icons/edited.png
  src/control-center/src/assets/rail_icons/steam-locomotive.png
  src/control-center/src/assets/rail_icons/vagon.png
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

added more object drawing placeholder code
  src/control-center/sample_simulation_output.json
  src/control-center/src/views/VisualiserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

Add Parameter Form and parameter store
  src/control-center/README.md
  src/control-center/src/components/AppInput.vue
  src/control-center/src/components/ParameterForm.vue
  src/control-center/src/components/QuoteForm.vue
  src/control-center/src/stores/parameters.ts
  src/control-center/src/utils/api.ts
  src/control-center/src/views/HomeView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer

workshop almost done
  notebooks/test.py
Due: trailing-whitespace-fixer, end-of-file-fixer, reorder-python-imports, black, pydocstyle, pylint

Cleanup unused views and components
  src/control-center/src/components/QuoteCard.vue
  src/control-center/src/router/index.ts
  src/control-center/src/views/QuoteCreateView.vue
  src/control-center/src/views/QuoteEditView.vue
  src/control-center/src/views/QuoteView.vue
  src/control-center/src/views/QuotesView.vue
  src/control-center/src/views/UserView.vue
Due: trailing-whitespace-fixer, end-of-file-fixer
